div, p, ul, ol, li, dl, dt, dd, form, table, h1, h2, h3, h4, h5, h6, input, select, textarea, span, strong, em, b, i, u, a, img {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}

img {
  border: none;
}

img, input, textarea, select, output {
  vertical-align: middle;
}

a {
  background: transparent;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #006699;
}

.clear {
  clear: both;
  height: 0;
  width: 0;
  overflow: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

$font-size: 37.5px;

@function aaToum($px) {
  @return $px / $font-size * 1rem;
}

@mixin whall {
  width: 100%;
  height: 100%;
}

@mixin wall {
  width: 100%;
}
